/main_2.py
/main_finish.py
/main_old.py
/venv
/Бабенко Семен (АРЕШТ МАЙНА).pdf
/Гоцелюк І.С. (батько_нерухомість).pdf
/Гоцелюк В.Д. (нерухомість).pdf
/Гоцелюк Т.П. (мати_нерухомість).pdf
/Гоцелюк_О_С_дружина_нерухомість.pdf
/Гудза Роман Васильевич.pdf
/Гудза Тетяна Анатоліївна.pdf
/Попілиш_О_І_АРЕШТ_НЕРУХОМОГО_МАЙНА.pdf
/ТОДОРОВ Максим Сергійович.pdf
/Тодорова Анастасія Володимирівна.pdf